<% content_for :title do %>
  Wil Hall - Design a Terrarium Online
<% end %>
<% content_for :meta do %>
  <meta property="og:title" content="Wil Hall - Design a Terrarium Online" /> 
  <meta property="og:description" content="Build and purchase your own custom terrarium online for local pickup or delivery using my online terrarium design tool." /> 
  <meta property="og:image" content="https://wilhall.com/photos/terrarium_alt.png" />
  <meta name="description" content="Build and purchase your own custom terrarium online for local pickup or delivery using my online terrarium design tool.">  
<% end %>

<article class="py-8 md:py-16 antialiased">
  <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
    <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
      <div class="shrink-0 h-min max-w-md lg:max-w-lg mx-auto rounded-md shadow-lg border-slate-300 border-2 overflow-hidden">
        <img class="w-full" src="/photos/terrarium_alt.png" alt=""/>
      </div>

      <div class="mt-6 sm:mt-8 lg:mt-0">
        <h1
          class="text-2xl font-semibold text-gray-900 sm:text-3xl"
        >
          Design a Terrarium Online
        </h1>
        <div class="mt-4 sm:items-center sm:gap-4 sm:flex">
          <p
            class="text-xl font-bold text-gray-900 sm:text-2xl"
          >
          $50
          </p>
        </div>

        <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
          <a
            data-umami-event="Design a Terrarium Online - Get Started"
            href="<%= new_terrarium_path %>"
            class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-white focus:outline-none bg-secondary rounded-lg border border-gray-200 hover:opacity-80 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100"
            role="button"
          >
          Get Started
          </a>
        </div>

        <hr class="my-6 md:my-8 border-gray-200"/>

        <div class="text-slate-500 prose">
          <p>
            Build and purchase your own custom terrarium online for local pickup or delivery using my online terrarium design tool.
          </p>
          
          <p>
          Desiging your terrarium online is free - you'll only pay if you decide to purchase it.
          </p>

          <p>
            You can choose from a variety of glass containers, succulents, and decorative elements to create your own unique terrarium. Once you've designed your terrarium, you can choose to pick it up from my studio in Somerville, MA or have it delivered to your home.
          </p>
        </div>
      </div>
    </div>
  </div>
</article>

