<% content_for :title do %>
  Wil Hall - Purpose
<% end %>

<article class="flex flex-col gap-5 max-w-2xl rounded-md shadow-lg bg-white mx-auto px-5 py-10 text-lg text-slate-700 leading-relaxed flex flex-col gap-3">
  <p class="text-slate-700 italic">This page exists, because we think the world would be a better place if the
    people
    trying to shape it spoke openly
    and plainly about their vision for the future.
    (<a href="https://slashpurpose.org/index.html" class="text-secondary hover:underline">slashpurpose.com</a>)
  <p></p>
  <p>I'm Wil, and this is my
    <a href="https://slashpurpose.org/index.html" class="text-secondary hover:underline">/purpose</a>.</p>

  <div class="flex flex-col gap-1">
    <p>I manifest love and compassion in everything I do.</p>
    <p>I practice continuous improvement, seeking quality as a means rather than an end.</p>
    <p>I explore fulfilling ways to work and play, and try to share them with as many people as possible.</p>
  </div>
  <div class="flex flex-col gap-1">
    <p>I strive to be present, and to act consciously and deliberately.</p>
    <p>I live playfully and whimsically.</p>
    <p>I prefer fluidity over rigidity.</p>
    <p>I live well under my means, and keep only what I need.</p>
    <p>I expect nothing in return.</p>
  </div>
  <div class="flex flex-col gap-1">
    <p>I believe that healing happens through community.</p>
    <p>There is no solace in a believe that denies someone care.</p>
    <p>It is our responsibility to lift each other up.</p>
  </div>

  <div class="flex flex-col gap-1">
    <p>I speak as I, step up, and step back.</p>
    <p>I prefer transparency of information whenever possible.</p>
    <p>I work to clearly separate opinion from fact, and beware believing things because I want them to be true, or
      because I fear they might be true.</p>
  </div>
  <div class="flex flex-col gap-1">
    <p>I believe that life is the future, not the past.</p>
    <p>I am not chained to the ones I love; I deliberately choose to show up, and when I show up I am all-in.</p>
    <p>Love is about breathing life into each other.</p>
    <p>Above all else, I strive to be a safe haven.</p>
  </div>
  <div class="flex flex-col gap-1">
    <p>I live primarily to create, rather than to consume.</p>
    <p>I work at a sustainable pace, but maintain a sense of urgency.</p>
    <p>I prefer to work and learn in the open.</p>
    <p>I design and create with ethics and accessibility in mind.</p>
  </div>
  <div class="flex flex-col gap-1">
    <p>I believe that in sound reasoning, contradictions cannot exist.</p>
    <p>I believe explicit is better than implicit; simple is better than complex; complex is better than complicated;
      now
      is better than never; although never is often better than right now.</p>
    <p>In the face of ambiguity, I refuse the temptation to guess.</p>
  </div>
</article>