<% content_for :title do %>
  Wil Hall - Terrarium Workshops
<% end %>

<article class="py-8 md:py-16 antialiased">
  <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
    <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
      <div class="shrink-0 h-min max-w-md lg:max-w-lg mx-auto rounded-md shadow-lg border-slate-300 border-2 overflow-hidden">
        <img class="w-full" src="/photos/terrarium.png" alt=""/>
      </div>

      <div class="mt-6 sm:mt-8 lg:mt-0">
        <h1
          class="text-2xl font-semibold text-gray-900 sm:text-3xl"
        >
          Terrarium Workshops
        </h1>
        <div class="mt-4 sm:items-center sm:gap-4 sm:flex">
          <p
            class="text-xl font-bold text-gray-900 sm:text-2xl"
          >
          $20&ndash;$80<small>/person</small>
          </p>
        </div>

        <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
          <a
            data-umami-event="Terrarium Workshops - Get Tickets"
            href="https://www.hoamsy.com/experiences/detail/0mapCxFdb73VxUEpSzZm"
            target="_blank"
            class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-white focus:outline-none bg-secondary rounded-lg border border-gray-200 hover:opacity-80 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100"
            role="button"
          >
          Get Tickets
          </a>
          <a
            data-umami-event="Terrarium Workshops - Book a Private Event"
            href="mailto:wil@wilhall.com?subject=I'd%20like%20to%20book%20a%20private%20Terrarium%20Workshop&body=Tell%20me%20about%20your%20event..."
            target="_blank"
            class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-white focus:outline-none bg-secondary rounded-lg border border-gray-200 hover:opacity-80 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100"
            role="button"
          >
          Book a Private Event
          </a>
        </div>

        <hr class="my-6 md:my-8 border-gray-200"/>

        <div class="text-slate-500 prose">
          <p>
            In this 1½ hour workshop, participants will create tabletop and hanging glass terrariums, choosing from hundreds of succulents to create their unique arrangement using just a few basic tools.
          </p>

          <p>
Make your terrarium unique with distinctive succulent varieties, decorative pebbles, rocks, moss, and more.
          </p>

          <p>
During the workshop we will discuss succulent potting, care, and propagation so you can keep your plants happy and learn to grow new baby succulents in your home.
          </p>

          <p class="font-bold">
            What is not included:
          </p>

          <ul class="pl-5 list-disc list-inside">
            <li>Instruction, lessons</li>
            <li>Unscheduled studio access</li>
            <li>You may not bring your own clay</li>
            <li>For non-monthly subscribers: No storage for personal consumables or tools</li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</article>

