<article class="mx-auto grid grid-cols-1 lg:grid-cols-2 gap-3">
  <% @presses.each do |press| %>
    <a href="<%= press.url %>" class="bg-white border border-gray-200 rounded-md shadow-xl hover:border-secondary">
      <img class="rounded-t-lg" src="<%= url_for(press.photo) %>" alt=""/>
      <div class="p-5">
      <h2 class="flex items-center gap-3 mb-2 text-2xl font-bold tracking-tight text-secondary">
        <span><%= press.title %></span>
        <i class="text-2xl fa-solid fa-chevron-right"></i></h2>
        <p class="mb-3 font-normal text-gray-700"><%= press.description %></p>
      </div>
    </a>
  <% end %>
</article>