<article class="py-8 md:py-16 antialiased">
  <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
    <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
      <div class="shrink-0 h-min max-w-md lg:max-w-lg mx-auto rounded-md shadow-lg border-slate-300 border-2 overflow-hidden">
        <img class="w-full" src="/photos/kiln.png" alt=""/>
      </div>


      <div class="mt-6 sm:mt-8 lg:mt-0">
        <h1
          class="text-xl font-semibold text-gray-900 sm:text-2xl"
        >
          Kiln Share
        </h1>

        <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
          <a
            href="https://savvycal.com/wilhall/61a374fe"
            target="_blank"
            class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-white focus:outline-none bg-secondary rounded-lg border border-gray-200 hover:opacity-80 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100"
            role="button"
          >
            Schedule a dropoff
          </a>
        </div>

        <hr class="my-6 md:my-8 border-gray-200"/>

        <div class="text-slate-500 prose">
          <p>
            I bisque fire to cone 04 and glaze fire to cone 6. You must have enough work to fill at least one shelf
            (17in x 17in), and turnaround time is 2-3 weeks.
          </p>

          <p class="font-bold">
            Pricing:
          </p>

          <ul class="pl-5 list-disc list-inside">
            <li>Bisque 1 shelf (17in x 17in): $20</li>
            <li>Glaze 1 shelf (17in x 17in): $25</li>
            <li>Bisque Full Kiln: $70</li>
            <li>Glaze Full Kiln: $85</li>
          </ul>

          <p>
            You may fire any clay or glaze as long as it is rated for cone 04 bisque and cone 6 glaze firing. Any damage
            to the kiln shelves will incur a $10 shelf scraping fee per shelf. If your pieces are likely to drip, you're
            required to provide your own cookies to fire on.
          </p>

          <p>
            I am not responsible for any work that is deemed unusable/non-sellable from the result of over firing, kiln
            error, or accidental damage. In the case of a misfire/underfire of the kiln, I will re-fire the work at no
            additional cost.
          </p>
          <p>
            Payment will be coordinated after scheduling a dropoff.
          </p>

        </div>
      </div>
    </div>
  </div>
</article>