<% content_for :title do %>
  Wil Hall - Kiln Share
<% end %>
<article class="py-8 md:py-16 antialiased">
  <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
    <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
      <div class="shrink-0 h-min max-w-md lg:max-w-lg mx-auto rounded-md shadow-lg border-slate-300 border-2 overflow-hidden">
        <img class="w-full" src="/photos/kiln.png" alt=""/>
      </div>
      <div class="mt-6 sm:mt-8 lg:mt-0">
        <h1
          class="text-2xl font-semibold text-slate-900 sm:text-3xl"
        >
          Kiln Share
        </h1>
        <div class="mt-4 sm:items-center sm:gap-4 sm:flex">
          <p
            class="text-xl font-bold text-slate-900 sm:text-2xl"
          >
            $20&ndash;$85
          </p>
        </div>
        <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
          <a
            data-umami-event="Kiln Share - Schedule a dropoff"
            href="https://booking.wilhall.com/kiln-share-dropoff"
            target="_blank"
            class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-white focus:outline-none bg-secondary rounded-lg border border-slate-200 hover:opacity-80 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-slate-100"
            role="button"
          >
            Schedule a dropoff
          </a>
        </div>
        <hr class="my-6 md:my-8 border-slate-200"/>
        <div class="text-slate-700 prose">
          <p class="font-bold">
            Pricing:
          </p>
          <ul class="pl-5 list-disc list-inside">
            <li>Bisque 1 shelf (17in x 17in): $20</li>
            <li>Glaze 1 shelf (17in x 17in): $25</li>
            <li>Bisque Full Kiln: $70</li>
            <li>Glaze Full Kiln: $85</li>
          </ul>
          <p>
            You may fire any clay or glaze as long as you know the cone it needs to be fired to. I typically bisque fire to cone 04 and glaze fire to cone 6. If you need to fire to a different temperature, you'll be responsible for paying the cost for the full firing. Any damage to the kiln shelves will incur a $10 shelf scraping fee per shelf. If your pieces are likely to drip, you're required to provide your own cookies to fire on.
          </p>
          <p>
            I am not responsible for any work that is deemed unusable/non-sellable from the result of over firing, kiln
            error, or accidental damage. In the case of a misfire/underfire of the kiln, I will re-fire the work at no
            additional cost.
          </p>
          <p>
            Payment will be coordinated after scheduling a dropoff.
          </p>
        </div>
      </div>
    </div>
  </div>
</article>