<div class="flex justify-center items-center gap-5">
    <img src="/plumepith_logo_primary.png" class="h-40 w-40 hidden md:block" role="presentation" alt=""/>
    <div class="flex flex-col justify-center">
        <div><img src="/plumepith_logo_secondary.png" class="h-16 mx-auto" role="presentation" alt=""/></div>
        <span class="font-dreamboat text-secondary text-center">Small-batch ceramics and succulents</span>
    </div>
</div>