<% content_for :title do %>
  Wil Hall - Pottery Studio Share
<% end %>
<% content_for :meta do %>
  <meta property="og:title" content="Wil Hall - Pottery Studio Share"/>
  <meta property="og:description" content="With this timeshare, you can book my home ceramics studio in 2h increments or start an unlimited access subscription to throw, trim, or decorate your own pottery."/>
  <meta property="og:image" content="https://wilhall.com/photos/studio.png"/>
  <meta name="description" content="With this timeshare, you can book my home ceramics studio in 2h increments or start an unlimited access subscription to throw, trim, or decorate your own pottery.">
<% end %>

<article class="py-8 md:py-16 antialiased">
  <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
    <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
      <div class="shrink-0 h-min max-w-md lg:max-w-lg mx-auto rounded-md shadow-lg border-slate-300 border-2 overflow-hidden">
        <img class="w-full" src="/photos/studio.png" alt=""/>
      </div>

      <div class="mt-6 sm:mt-8 lg:mt-0">
        <h1
          class="text-2xl font-semibold text-slate-900 sm:text-3xl"
        >
          Pottery Studio Share
        </h1>
        <div class="mt-4 sm:items-center sm:gap-4 sm:flex">
          <p
            class="text-xl font-bold text-slate-900 sm:text-2xl"
          >
            $25/hr <small>(or $220/mo)</small>
          </p>
        </div>

        <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
          <a
            data-umami-event="Studio Share - Schedule per hour"
            href="https://booking.wilhall.com/wilhall/studio-share"
            target="_blank"
            class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-white focus:outline-none bg-secondary rounded-lg border border-slate-200 hover:opacity-80 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-slate-100"
            role="button"
          >
            Schedule per hour
          </a>
          <a
            data-umami-event="Studio Share - Start a Monthly Subscription"
            href="https://buy.stripe.com/cN2bJ78Gi8rY1Nu9AA"
            target="_blank"
            class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-white focus:outline-none bg-secondary rounded-lg border border-slate-200 hover:opacity-80 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-slate-100"
            role="button"
          >
            Start a Monthly Subscription
          </a>
        </div>

        <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
          <a
            href="<%= studio_path %>"
            class="flex items-center justify-center py-1 px-3 text-sm text-secondary font-medium focus:outline-none bg-white rounded-lg border-2 border-secondary hover:opacity-80 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-slate-100"
            role="button"
          >
            Studio Information
          </a>
        </div>

        <hr class="my-6 md:my-8 border-slate-200"/>

        <div class="text-slate-700 prose">
          <p>
            With this timeshare, you can book my home ceramics studio in 2h increments or start an unlimited access
            subscription
            to throw, trim, or decorate your own pottery. This does not include any instruction, but does include clay,
            firing, and consumables such as underglaze and glaze.
          </p>

          <p>
            You must have experience working in a shared ceramics studio space and attend a 15m orientation.
          </p>

          <p class="font-bold">
            What is included:
          </p>

          <ul class="pl-5 list-disc list-inside">
            <li>4lb/hour of clay (carries over if you do not use it all); your choice of Standard Clay Company's White
              Stoneware 563, Warm Buff 553, or VP Porcelain 551, or my recycled mix of these. You may purchase
              additional clay at a rate of $1.50/lb in 4lb increments.
            </li>
            <li>Use of all my glazes (See <%= link_to "Glaze Options", studio_path(anchor: "glazes") %>)</li>
            <li>Use of my other consumables such as underglazes</li>
            <li>Bisque and glaze firing for all pieces you produce, at 50% off
              my <%= link_to "Kiln Share", kiln_share_path %> cost
            </li>
            <li>Shared throwing and decorating tools</li>
            <li>You may bring your own underglazes and glazes</li>
            <li>For monthly subscribers: Dedicated shelf storage anything you would like</li>
            <li>For non-monthly subscribers: Shared shelf storage for your personal greenware and bisqueware</li>
          </ul>
          <p class="font-bold">
            What is not included:
          </p>

          <ul class="pl-5 list-disc list-inside">
            <li>Instruction, lessons</li>
            <li>Unscheduled studio access</li>
            <li>You may not bring your own clay</li>
            <li>For non-monthly subscribers: No storage for personal consumables or tools</li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</article>