<h2 class="mb-2 text-xl font-bold tracking-tight text-gray-900">Oops, looks like you found a missing tooth</h2>
<p>Did you know the medical term for that is an edentulous space? Just something to chew on.</p>