<h2 class="mb-2 text-xl font-bold tracking-tight text-gray-900">Oh no! An unexpected malocclusion!</h2>
<p>We encountered an error, which similar to malocclusions, can be corrected with proper treatment. Apologies for
  the inconvenience.</p>