<% content_for :title do %>
  Wil Hall - Lessons
<% end %>

<article class="py-8 md:py-16 antialiased">
  <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
    <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
      <div class="shrink-0 h-min max-w-md lg:max-w-lg mx-auto rounded-md shadow-lg border-slate-300 border-2 overflow-hidden">
        <img class="w-full" src="/photos/lesson.png" alt=""/>
      </div>

      <div class="mt-6 sm:mt-8 lg:mt-0">
        <h1
          class="text-2xl font-semibold text-gray-900 sm:text-3xl"
        >
          Pottery Lessons
        </h1>
        <div class="mt-4 sm:items-center sm:gap-4 sm:flex">
          <p
            class="text-xl font-bold text-gray-900 sm:text-2xl"
          >
          $70<small>/person</small>
          </p>
        </div>

        <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
          <a
            data-umami-event="Pottery Lesson - Schedule For One Person"
            href="https://savvycal.com/wilhall/cbc24877"
            target="_blank"
            class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-white focus:outline-none bg-secondary rounded-lg border border-gray-200 hover:opacity-80 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100"
            role="button"
          >
            Schedule for One Person
          </a>
          <a
            data-umami-event="Pottery Lesson - Schedule For Two People"
            href="https://savvycal.com/wilhall/7f2e2ead"
            target="_blank"
            class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-white focus:outline-none bg-secondary rounded-lg border border-gray-200 hover:opacity-80 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100"
            role="button"
          >
            Schedule for Two People
          </a>
        </div>

        <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
          <a
            href="<%= studio_path %>"
            class="flex items-center justify-center py-1 px-3 text-sm text-secondary font-medium focus:outline-none bg-white rounded-lg border-2 border-secondary hover:opacity-80 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100"
            role="button"
          >
            Studio Information
          </a>
        </div>

        <hr class="my-6 md:my-8 border-gray-200"/>

        <div class="text-slate-500 prose">
          <p>
            A private wheel-throwing pottery lesson taught out of my home studio in Somerville, MA near Davis Square -
            no
            prior experience required, and all materials and tools are included. Each two-hours of throwing includes
            6lbs
            of clay to throw with and allows for keeping two pieces to decorate and fire.
          </p>

          <p>
            Please choose between a lesson for one or two people when checking out. I can only accommodate up to
            two people at a time.
          </p>

          <p>
            Food-safety and Dishwasher-safety of items will depend on decoration methods chosen.
          </p>

          <p class="font-bold">
            For first-time students:
          </p>

          <ul class="pl-5 list-disc list-inside">
            <li>You can expect a minimum of three weeks for your pots to be fired and ready for decorating</li>
            <li>You can choose to just come for throwing and choose a glaze to have me apply and fire it for you, or you
              can
              come back for another lesson to decorate together (see Glaze Options)
            </li>
            <li>In the meantime, you are welcome to schedule additional throwing lessons</li>
            <li>Once your pieces are ready for pickup, you may pick them up at a future lesson or Schedule a Pickup</li>
          </ul>

          <p class="font-bold">
            For returning students:
          </p>

          <ul class="pl-5 list-disc list-inside">
            <li>You may schedule as many 2+ hour throwing lessons as you would like</li>
            <li>You can choose to just come for throwing and choose a glaze to have me apply and fire it for you, or you
              can
              come back for another lesson to decorate together.
            </li>
            <li>Once your pieces are ready for pickup, you may pick them up at a future lesson or Schedule a Pickup</li>
            <li>After a minimum of 5 lessons, you are eligible for my Studio Share.</li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</article>