<% content_for :title do %>
  Wil Hall - Pottery Lessons
<% end %>
<% content_for :meta do %>
  <meta property="og:title" content="Wil Hall - Pottery Lessons"/>
  <meta property="og:description" content="A private wheel-throwing pottery lesson taught out of my home studio in Somerville, MA near Davis Square - no prior experience required, and all materials and tools are included."/>
  <meta property="og:image" content="https://wilhall.com/photos/lesson.png"/>
  <meta name="description" content="A private wheel-throwing pottery lesson taught out of my home studio in Somerville, MA near Davis Square - no prior experience required, and all materials and tools are included.">
<% end %>

<article class="py-8 md:py-16 antialiased">
  <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
    <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
      <div class="shrink-0 h-min max-w-md lg:max-w-lg mx-auto overflow-hidden relative pb-10">
        <div class="swiper-container" data-controller="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide rounded-md shadow-lg border-slate-300 border-2">
              <img class="w-full" src="/photos/lesson.png" alt=""/>
            </div>
            <div class="swiper-slide rounded-md shadow-lg border-slate-300 border-2">
              <img class="w-full" src="/photos/example_1.png" alt=""/>
            </div>
            <div class="swiper-slide rounded-md shadow-lg border-slate-300 border-2">
              <img class="w-full" src="/photos/example_2.png" alt=""/>
            </div>
            <div class="swiper-slide rounded-md shadow-lg border-slate-300 border-2">
              <img class="w-full" src="/photos/example_3.png" alt=""/>
            </div>
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-next drop-shadow-xl"></div>
          <div class="swiper-button-prev drop-shadow-xl"></div>
        </div>
      </div>

      <div class="mt-6 sm:mt-8 lg:mt-0">
        <h1
          class="text-2xl font-semibold text-slate-900 sm:text-3xl"
        >
          Pottery Lessons
        </h1>
        <div class="mt-4 sm:items-center sm:gap-4 sm:flex">
          <p
            class="text-xl font-bold text-slate-900 sm:text-2xl"
          >
            $70<small>/person</small>
          </p>
        </div>

        <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
          <a
            data-umami-event="Pottery Lesson - Schedule For One Person"
            href="https://booking.wilhall.com/pottery-lesson-for-one"
            target="_blank"
            class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-white focus:outline-none bg-secondary rounded-lg border border-slate-200 hover:opacity-80 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-slate-100"
            role="button"
          >
            Schedule for One Person
          </a>
          <a
            data-umami-event="Pottery Lesson - Schedule For Two People"
            href="https://booking.wilhall.com/pottery-lesson-for-two"
            target="_blank"
            class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-white focus:outline-none bg-secondary rounded-lg border border-slate-200 hover:opacity-80 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-slate-100"
            role="button"
          >
            Schedule for Two People
          </a>
        </div>

        <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
          <a
            href="<%= studio_path %>"
            class="flex items-center justify-center py-1 px-3 text-sm text-secondary font-medium focus:outline-none bg-white rounded-lg border-2 border-secondary hover:opacity-80 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-slate-100"
            role="button"
          >
            Studio Information
          </a>
        </div>

        <hr class="my-6 md:my-8 border-slate-200"/>

        <div class="text-slate-700 prose">
          <p>
            A private wheel-throwing pottery lesson taught out of my home studio in Somerville, MA near Davis Square -
            no
            prior experience required, and all materials and tools are included. Each two-hour lesson includes 6lbs

            of clay to throw with and allows for keeping two pieces.
          </p>

          <p>
            At the end of the lesson, you'll <%= link_to "Choose a Glaze", studio_path(anchor: "glazes") %> for me to fire your pieces with, and you can pick them up when they are completed.
          </p>

          <p>
            Please note that I can only accept lessons for one to two people at this time.
          </p>

          <p>
            Food-safety and Dishwasher-safety of items will depend on decoration methods chosen.
          </p>

          <p class="font-bold">
            For first-time students:
          </p>

          <ul class="pl-5 list-disc list-inside">
            <li>You can expect a minimum of two weeks for your pots to be fired, decorated, and ready for pickup.</li>
            <li>In the meantime, you are welcome to schedule additional throwing lessons</li>
            <li>Once your pieces are ready for pickup, you may pick them up at a future lesson or schedule a time with me to pick them up</li>
          </ul>

          <p class="font-bold">
            For returning students:
          </p>

          <ul class="pl-5 list-disc list-inside">
            <li>You may schedule as many 2+ hour throwing lessons as you would like</li>
            <li>You may <%= link_to "Start a Monthly Membership", studio_share_path(anchor: "membership_options") %> for weekly recurring lessons (and more included), which equates to ~50% off</li>
            <li>After a minimum of 3 lessons, you are eligible for my <%= link_to "Studio Share", studio_share_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</article>