<article class="max-w-md rounded-md shadow-lg bg-white mx-auto px-5 py-10 text-lg text-slate-800 leading-relaxed text-center flex flex-col gap-3">
  <p>
    Wil Hall is a ceramicist, photographer, and Full Stack Web Developer based in Somerville. They specialize in
    building intuitive and accessible user interfaces, one-of-a-kind handmade ceramics, and succulents along with other
    pieces for the home and kitchen.
  </p>
  <p>
    If you want to work with me,
    <a href="<%= contact_path %>" class="text-secondary hover:underline">let's get in touch</a>. I offer a sliding scale
    and
    volunteer-based work for social justice initiatives, as well as for individuals who specialize in working with queer
    communities.
  </p>
</article>