<% content_for :title do %>
  Wil Hall - Photo Shoots
<% end %>
<% content_for :meta do %>
  <meta property="og:title" content="Wil Hall - Photo Shoots"/>
  <meta property="og:description" content="Schedule a photo shoot for portraits, group photos, events, and more."/>
  <meta property="og:image" content="https://wilhall.com/photos/photo_shoot.png"/>
  <meta name="description" content="Schedule a photo shoot for portraits, group photos, events, and more.">
<% end %>

<article class="py-8 md:py-16 antialiased">
  <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
    <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
      <div class="shrink-0 h-min max-w-md lg:max-w-lg mx-auto rounded-md shadow-lg border-slate-300 border-2 overflow-hidden">
        <img class="w-full" src="/photos/photo_shoot.png" alt=""/>
      </div>

      <div class="mt-6 sm:mt-8 lg:mt-0">
        <h1
          class="text-2xl font-semibold text-slate-900 sm:text-3xl"
        >
          Photo Shoots
        </h1>
        <div class="mt-4 sm:items-center sm:gap-4 sm:flex">
          <p
            class="text-xl font-bold text-slate-900 sm:text-2xl"
          >
            $70/hr
          </p>
        </div>

        <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
          <a
            data-umami-event="Photo Shoots - Schedule 30m"
            href="https://booking.wilhall.com/wilhall/photo-shoot-30m"
            target="_blank"
            class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-white focus:outline-none bg-secondary rounded-lg border border-slate-200 hover:opacity-80 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-slate-100"
            role="button"
          >
            Schedule 30m
          </a>
          <a
            data-umami-event="Photo Shoots - Schedule 1h"
            href="https://booking.wilhall.com/wilhall/photo-shoot-1h"
            target="_blank"
            class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-white focus:outline-none bg-secondary rounded-lg border border-slate-200 hover:opacity-80 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-slate-100"
            role="button"
          >
            Schedule 1h
          </a>
          <a
            data-umami-event="Photo Shoots - Schedule 2h"
            href="https://booking.wilhall.com/wilhall/photo-shoot-2h"
            target="_blank"
            class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-white focus:outline-none bg-secondary rounded-lg border border-slate-200 hover:opacity-80 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-slate-100"
            role="button"
          >
            Schedule 2h
          </a>
        </div>

        <hr class="my-6 md:my-8 border-slate-200"/>

        <div class="text-slate-700 prose">
          <p>
            Schedule a photo shoot for an yourself, a group, or an event. For individuals and groups, I'll work with you
            on a location (indoors or outdoors) within a 5-mile radius of Boston.
          </p>

          <p>
            After scheduling, I'll be in touch to learn more about your vision and to work with you on a location.
          </p>

          <p class="font-bold">
            What is included:
          </p>

          <ul class="pl-5 list-disc list-inside">
            <li>Travel within a 5-mile radius of Boston</li>
            <li>All RAW photographs from the photo shoot</li>
            <li>Photo editing for all the photos from the photo shoot</li>
            <li>Photo cropping / artistic editing by request</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</article>